/* 1. CSS RESET */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    overflow-y: hidden;
    white-space: nowrap;
    /* background-color: #0432B2;
    remove third building layer if using bg */
    font-family: "europa", Avenir, sans-serif;
    color: #000;
}


/* BUTTONS */
.btn {
    z-index: 300;
    left: 20%;
    padding: 0.382em 0.618em;
    /*
    -webkit-box-shadow: -10px 6px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -10px 6px 0px 0px rgba(0,0,0,0.15);
    box-shadow: -10px 6px 0px 0px rgba(0,0,0,0.15);
    */
}

.btn-red {
    position: absolute;
    left: 20%;
    border: 0.236em solid red;
}

.btn-white {
    display: block;
    margin: auto;
    width: 4em;
    text-align: center;
    border: 0.236em solid #fff;
    transition: all 0.15s ease-in;
}

.btn-white:hover {
    background-color: #fff;
}


/* TYPOGRAPHY */
a {
    text-decoration: none;
    font-family: "liquor-store", sans-serif; 
    color: #000; 
    font-size: 1.618em;    
}

p {
    font-style: italic; 
    font-size: 1em;  
    line-height: 1.618em;      
}

h1, h2, h3, h4 {
    font-family: "liquor-store", sans-serif;
}

h3 {
    font-style: italic;
    font-size: 1.618em;
    margin-bottom: 0.382em;
}

ul {
    margin-top: 0.236em;
}

ul li {
    list-style: none;
    line-height: 1.618em;          
}

.background {
    background-image: url("../images/cityscape2.svg");
    background-repeat: repeat-x;
    width: 630%;
    height: 100vh;
    margin-left: 70%;
    /*
    position: absolute;
    top:0;
    left:0; */
}


/* OVERLAY */
.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.logo {
    width: 40%;
    display: block;
    margin: 3em auto 0.618em auto;
}

.title-text {
    font-size: 6.7em;
    /*font-size: 6.854em; */
    font-family: "liquor-store", sans-serif;
}

.intro-heading {
    font-size: 4.6em;
    font-family: "liquor-store", sans-serif;    
}

.intro-text {
    font-family: "europa", Avenir-Oblique,Avenir,sans-serif;
    font-size: 1.3em;
}

.overlay p {
    display: block;
    margin: 0em auto 1em auto;
    white-space: normal;
    text-align: center;
    font-size: 110%;
    width: 65%;
    max-width: 700px;
}

.x-btn {
    display: block;
    margin: 1.618em auto 2.618em auto;
    width: 3.5em;  
    cursor: pointer;  
    transition: all 0.25s ease-in;
}

.x-btn:hover {
    transform: rotate(360), scale(1.5);
}




/* TEXT BOXES */

.text-box {
    position: absolute; 
    z-index: 50;   
    background-color: #FFDA00;
    width: auto;
    height: auto;
    padding: 1em;    
    -webkit-box-shadow: -10px 6px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -10px 6px 0px 0px rgba(0,0,0,1);
    box-shadow: -10px 6px 0px 0px rgba(0,0,0,1);
}

.text-box span {
    font-family: "liquor-store", sans-serif;    
    font-size:  1em;
}



/* INTRO */




/* PROPS */
.prop {
    position: absolute;
    z-index: 10;
    bottom: 0;
}

#laser {
    left: 520%;
    height: 120vh;        
}

#spotlight {
    left: 0;
    height: 100vh;
}


/* ICONS */
.icon {
    z-index: 100;
    position: absolute;
    bottom: 0;  
    height: 80vh;    
}



#super {
    left: 65%;
}

.super-bio {
    left: 100%;
    bottom: 40%;
}

#agent {
    left: 150%;
}

.agent-bio {
    left: 130%;
    bottom: 10%;
}

#robot {
    left: 200%;
    height: 220vh;
}

.robot-bio {
    left: 190%;
    bottom: 70%;
}

#powers {
    left: 295%;
    bottom: 25%;
}

.powers-bio {
    left: 330%;
    bottom: 70%;
}

#hammer {
    left: 320%;
}

.hammer-bio {
    left: 345%;
    bottom: 20%;
}

#scientist {
    left: 370%;
}

.scientist-bio {
    left: 390%;
    bottom: 40%;
}

#armour {
    left: 450%;
}

.armour-bio {
    left: 470%;
    bottom: 50%;
}

#punch {
    left: 485%;
}

.punch-bio {
    left: 520%;
    bottom: 10%;
}

#villain {
    left: 540%;
}

.villain-bio {
    left: 530%;
    bottom: 70%;
}

#sidekick {
    left: 570%;
}

.sidekick-bio {
    left: 600%;
    bottom: 10%;
}

#force {
    left: 640%;
}

.force-bio {
    left: 615%;
    bottom: 40%;
}


